@import "tailwindcss";

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

:root {
    --background: #ffffff;
    --foreground: #0f172a;
    /* slate-900 */
}

.dark {
    --background: #020617;
    /* slate-950 */
    --foreground: #f8fafc;
    /* slate-50 */
}